.git
**/node_modules
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
dist
.core
playwright-report
test-results
demo
docs
prompts
tests
infra/local
backend/vendor
backend/public/spa
backend/public/hot
backend/public/vendor
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/testing
backend/storage/statamic
backend/users/*.yaml
*.xlsx
backend/bootstrap/cache/*.php
backend/tests
backend/phpunit.xml
backend/phpstan.neon
